body {
  font-family: "Righteous", "Roboto", sans-serif;
}

.containerPrincipal {
  width: 414px;
  height: 1026px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
}

.menuSuperior {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: flex-start;
  left: auto;
  top: 0;
  width: 414px;
  height: 92px;
  background-color: #cf2b2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.tituloPrincipal {
  height: 44px;
  width: 248px;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.012em;
  color: #ffffff;
  padding: 10px;
  padding-left: 25px;
}

.subtituloPrincipal {
  height: 17px;
  width: 226px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 25px;
}

.containerSecundario {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 120px;
}

.tituloSecundario {
  width: 320px;
  height: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.tituloSecundarioPedidos {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;
  color: #333333;
}

.pedidos {
  width: 414px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.pedidosDois {
  width: 414px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.pedidosTres {
  width: 414px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.caixinhaPedidos {
  width: 172px;
  height: 216px;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  padding: 10px;
}

.caixinhaPedidos img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}

.tituloPedidos {
  width: 139px;
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-top: 5px;
}

.subtituloPedidos {
  width: 147px;
  height: 39px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #a6a6a6;
}

.precoPedidos {
  width: 66px;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.pedidos .icone ion-icon {
  margin-left: 130px;
  color: #32b72f;
}
.pedidosDois .icone2 ion-icon {
  margin-left: 130px;
  color: #32b72f;
}
.pedidosTres .icone3 ion-icon {
  margin-left: 130px;
  color: #32b72f;
}

.menuInferior {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: auto;
  bottom: 0;
  margin-top: 92px;
  width: 414px;
  height: 92px;
  background-color: white;
}

.menuInferiorCaixaTexto {
  width: 364px;
  height: 61px;
  background-color: #cbcbcb;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoMenuInferior {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.018em;
  color: #ffffff;
}

.menuInferiorVerde {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: auto;
  bottom: 0;
  margin-top: 92px;
  width: 414px;
  height: 92px;
}

.menuInferiorVerdeCaixaTexto {
  width: 364px;
  height: 61px;
  background-color: #32b72f;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoMenuInferiorVerde {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.018em;
  color: #ffffff;
  cursor: pointer;
}

.escondido {
  display: none;
}

.selecionado {
  width: 172px;
  height: 180px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 5px #32b72f;
  border-radius: 9px;
}

.selecionado2 {
  width: 172px;
  height: 180px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 5px #32b72f;
  border-radius: 9px;
}

.selecionado3 {
  width: 172px;
  height: 180px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 5px #32b72f;
  border-radius: 9px;
}

.selecionado ion-icon {
  display: flex;
}
.selecionado2 ion-icon {
  display: flex;
}
.selecionado3 ion-icon {
  display: flex;
}
